@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

$dark-blue: hsl(240, 38%, 20%);
$grayish: hsl(240, 18%, 77%);


* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter', serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1444791252404-500e5b11f71b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width:900px) {
        min-height: 130vh;
        padding-bottom: 6rem;
    }


    &__card {
        border-radius: 2px;
        -webkit-box-shadow: 4px 5px 14px 0px rgba(48, 50, 50, 0.55);
        -moz-box-shadow: 4px 5px 14px 0px rgba(48, 50, 50, 0.55);
        box-shadow: 4px 5px 14px 0px rgba(48, 50, 50, 0.55);
        background-color: rgb(243, 243, 243);
        width: 80%;
        min-height: 80%;
        position: relative;

        @media only screen and (max-width:900px) {
            min-height: 100vh;
            margin-bottom: 4rem;
            padding-bottom: 1rem;
        }

        @media only screen and (max-width:750px) {
            width: 100%;
            top: 0;
        }


        &__forms {

            .svg-bg {
                height: 87%;
                width: 45%;
                position: absolute;
                right: 5rem;
                top: 1rem;
                z-index: 1;

                @media only screen and (max-width:900px) {
                    height: 40%;
                    width: auto;
                    top: 3rem;
                    right: 2rem;
                }

                @media only screen and (max-width:500px) {
                    max-height: 30rem;
                    width: auto;
                }



            }

            .svg-curve {
                position: absolute;
                height: 17%;
                max-width: 100%;
                bottom: 0;
                z-index: 1;
            }

            .svg-quotes {
                position: absolute;
                top: 22%;
                left: 20%;
                z-index: 1;

                @media only screen and (max-width:1100px) {
                    top: 40rem;
                    left: 45%
                }
            }


            .arrows {
                background-color: rgb(255, 255, 255);
                display: inline-block;
                padding: 1rem;
                bottom: 5rem;
                right: 30rem;
                position: absolute;
                z-index: 7;
                border-radius: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;

                @media only screen and (min-width:1600px) {
                    bottom: 4rem;
                 }

                @media only screen and (max-width:1100px) {
                    right: 20rem;
                }

                @media only screen and (max-width:900px) {
                    bottom: 22rem;
                    right: 18rem;
                }

                @media only screen and (max-width:600px) {
                    bottom: 26rem;
                    right: 15rem;
                }

                -webkit-box-shadow: 0px 11px 26px 0px rgba(48, 50, 50, 0.61);
                -moz-box-shadow: 0px 11px 26px 0px rgba(48, 50, 50, 0.61);
                box-shadow: 0px 11px 26px 0px rgba(48, 50, 50, 0.61);

                .arrow:hover {
                    transform: scale(1.2);
                }

                .arrow:active {
                    transform: scale(1);
                }

                .left {
                    margin-right: 2.5rem;
                }
            }

        }

        &__image {
            width: 28rem;
            height: auto;
            position: absolute;
            top: -8.5rem;
            right: 10rem;
            z-index: 2;


            @media only screen and (min-width:1600px) {
                width: 35rem;
            }

            @media only screen and (max-width:1100px) {
                right: 2rem;
                top: -3rem;
            }

            @media only screen and (max-width:900px) {
                position: relative;
                right: 0;
                margin: 6rem auto 0;
                width: calc(90% - 2rem);
            }

        }



        &__content {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-top: 12rem;
            margin-left: 8rem;


            @media only screen and (min-width:1600px) {
               margin-top: 15rem;
            }

            @media only screen and (max-width:1100px) {
                margin-top: 7rem;
                margin-left: 4rem;
            }

            @media only screen and (max-width:900px) {
                margin-left: 0;
                align-items: center;
            }




            &__text {
                color: $dark-blue;
                width: 50%;
                font-size: 1.7em;
                font-weight: 300;
                z-index: 5;

                @media only screen and (max-width:900px) {
                    width: 90%;
                    text-align: center;
                    margin-top: 6rem;
                }


            }

            &__subtext {
                margin-top: 1rem;
                z-index: 5;
                font-size: 1.2em;


                @media only screen and (max-width:900px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }


                &-name {
                    color: $dark-blue;
                    font-weight: bold;
                    
                }

                &-title {
                    color: $grayish;
                    font-weight: 500;
                }
            }
        }

    }
}


.attribution {
    font-size: 1.1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: .5rem;
    font-weight: 300;


    @media only screen and (max-width:900px) {
        top: 130vh;
        position: absolute;
    }
}

.attribution a {
    color: hsl(228, 36%, 48%);
    font-weight: 500;
}


.display {
    display: none;
}